<div>
  <div>
    <h1>
      <%= @the_assignment.course.name %> <%= @the_assignment.assignment_type.assignment_type %> details
    </h1>

    <div>
      <div>
        <a href="/assignments">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_assignment/<%= @the_assignment.id %>">
          Delete assignment
        </a>
      </div>
    </div>

    <dl>
        <dt>
        Course
      </dt>
      <dd>
        <%= @the_assignment.course.name %>
      </dd>
      
      <dt>
        Assignment type
      </dt>
      <dd>
        <%= @the_assignment.assignment_type.assignment_type %>
      </dd>
 <dt>
        Description
      </dt>
      <dd>
        <%= @the_assignment.description %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_assignment.name %>
      </dd>

      <dt>
        Due
      </dt>
      <dd>
        <%= @the_assignment.due %>
      </dd>

    

     
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit assignment
    </h2>
</div>
    <div>
  <form action="/insert_assignment" method="post">
     <label for="query_course_id">Course</label>
     <select name="query_course_id" id="query_course_id">
  <%= @current_user.courses.each do |something|%>
 <% if something.id==@the_assignment.course.id %>
  <option selected value=<%=something.id%>><%=something.name%></option>
  <% else %>
  <option value=<%=something.id%>><%=something.name%></option>
 <%end%>
 <%end%>
</select>

</div>
<div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_assignment.name %>">
</div>
    <div>
    <form action="/modify_assignment/<%= @the_assignment.id %>"  method="post" >

        <label for="assignment_type_box">
          Assignment type
        </label>

<select name="query_assignment_type_id" id="query_assignment_type_id">
  <%= AssignmentType.all.each do |something|%>
  <% if something.id==@the_assignment.assignment_type.id %>
  <option selected value=<%=something.id%>><%=something.assignment_type%></option>
  <% else %>
  <option value=<%=something.id%>><%=something.assignment_type%></option>
 <%end%>
 
 
 
 <%end%>
</select>      
</div>

<div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_assignment.description %></textarea>
</div>


<div>
        <label for="due_box">
          Due
        </label>

        <input type="date" id="due_box" name="query_due" value="<%= @the_assignment.due %>">
</div>

      <button>
        Update assignment
      </button>
    </form>
  </div>
</div>

<hr>
