<div>
  <div>
    <h1>
      <%= @the_course.name %> details
    </h1>

    <div>
      <div>
        <a href="/courses">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_course/<%= @the_course.id %>">
          Delete course
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_course.name %>
      </dd>

      <dt>
        Meets
      </dt>
      <dd>
        <%= @the_course.meets %>
      </dd>

      <dt>
        Prof email
      </dt>
      <dd>
        <%= @the_course.prof_email %>
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit course
    </h2>

    <form action="/modify_course/<%= @the_course.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_course.name %>">
      </div>

      <div>
        <label for="meets_box">
          Meets
        </label>

        <input type="text" id="meets_box" name="query_meets" value="<%= @the_course.meets %>">
      </div>

      <div>
        <label for="prof_email_box">
          Prof email
        </label>

        <input type="text" id="prof_email_box" name="query_prof_email" value="<%= @the_course.prof_email %>">
      </div>

      <button>
        Update course
      </button>
    </form>
  </div>
</div>

<hr>
